[submodule "cmd/cimipkg"]
	path = cmd/cimipkg
	url = https://github.com/windowsadmins/cimian-pkg
[submodule "wiki"]
	path = wiki
	url = https://github.com/windowsadmins/cimian.wiki.git
	branch = main
